.modalaccount {
  position: inherit !important;
  //top: 82px;
  padding: 80px 0 80px 0;
  margin-top: 10px;
  max-width: 913px !important;
  font-family: SF-Pro-Display-Light;
  &-title {
    font-family: SF-Pro-Display-Regular;
    font-size: 16px;
    padding: 9px;
  }
  &-footer {
    justify-content: flex-start !important;
  }
  &-spacer {
    min-height: 20px;
  }
}