<!--<div class="modal" tabindex="-1" role="dialog" id="signUpModal" data-backdrop="static">-->
  <div class="modal-dialog modalsignup" role="document" >
    <div class="modal-content modalsignup-content">
      <a href="/" type="button" class="modal-close close" data-dismiss="modal" aria-label="Close" style="top: -122px;right: 297px;"><span aria-hidden="true"><%= image_tag "logo_citrus_borderless_v11_2", :height => '65px', :width => '65px' %></span></a>
      <div class="modal-header modalsignup-header">
        <h3 class="modal-title modalsignup-title">Sign up for Deliveryapp</h3>
      </div>
      <div class="modal-body modalsignup-body">
        <form class="needs-validation" novalidate>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputEmail4">Office Name</label>
              <input type="text" class="form-control" id="inputOfficeName" required>
              <div class="invalid-feedback" id="officeNameError">
                Cannot be blank.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputPassword4">Office Address</label>
              <div id="addressField">
                <input class="form-control" id="autocomplete2" required placeholder="">
                <div class="invalid-feedback" id="addressError">
                  Cannot be blank.
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputAddress2">Unit # and special instructions</label>
              <div id="address2Field">
                <input class="form-control" id="inputOfficeAddress2" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 pr-4">
              <label for="inputFirstName">Contact First Name</label>
              <input type="text" class="form-control" id="inputFirstName" required>
              <div class="invalid-feedback" id="firstNameError">
                Please provide a first name.
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="inputLastName">Contact Last Name</label>
              <input type="text" class="form-control" id="inputLastName" required>
              <div class="invalid-feedback" id="lastNameError">
                Please provide a last name.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputZip">Contact Email</label>
              <input type="email" class="form-control" id="inputEmail" required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}">
              <div class="invalid-feedback" id="emailError">
                Please provide a valid email.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 pr-4">
              <label for="inputCity">Password</label>
              <input type="password" class="form-control" id="inputPassword" name="inputPassword">
              <div class="invalid-feedback" id="passwordError">
                Must be at least 8 characters.
              </div>
            </div>

            <div class="form-group col-md-6">
              <label for="inputState">Confirm Password</label>
              <input type="password" class="form-control" id="inputPasswordConfirm" name="inputPasswordConfirm">
              <div class="invalid-feedback" id="passwordConfirmError">
                Must be at least 8 characters.
              </div>
            </div>
          </div>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        </form>
      </div>
      <div class="modal-footer modalsignup-footer">

        <div class="btn-group-justified btn-group-vertical modalsignup-button_group">
          <button type="submit" id="signUpSubmit" class="btn btn-primary modalsignup-button_signup" data-persist="date">Sign Up</button>
        </div>
      </div>
      <div class="modal-section modalsignup-section">
        <div class="modalsignup-disclaimer">
          By signing up with Deliveryapp, I agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>
        </div>
        <div class="modalsignup-disclaimer modalsignup-disc2">
          Already have an account? <a href="/login">Log In</a>
        </div>
      </div>

      <div id="hiddenField" data-restaurant-id="" data-dish-id="" style="visibility: hidden"></div>
    </div>
  </div>
<!--</div>-->

<%# link_to dashboard_path, id: 'modalUpdateLink', data: {'turbolinks-action': "replace"} do
  <button type="button" id="addToOrder" class="btn btn-primary modalsignup-button_signup" data-persist="date">Sign Up</button>
 end  %>
