<div class="modal" tabindex="-1" role="dialog" id="bannerModal" data-backdrop="static">
  <div class="modal-dialog modalbanner" role="document" style="min-width:800px;z-index: 4555">
    <div class="modal-content modalbanner-content">
      <div class="modal-header modalbanner-header">
        <button type="button" class="modal-close-white close" data-dismiss="modal" aria-label="Close" style="top: -32px;right: -69px;"><span aria-hidden="true">&times;</span></button>
        <div style="font-family: GothamLight;line-height: 137px;font-size: 24px" class="modalbanner-title">
          <%= image_tag '001logo.png', :width => '150px', :height => '130px', :style => 'filter: brightness(50%) sepia(100%) saturate(10000%) hue-rotate(255deg)' %>
        </div>
        <div style="display: block;padding-top: 30px;letter-spacing: 0.02em;"><h1 style="margin-bottom: 4px">Summer Savings!</h1></div>
<!--        <h3 class="modal-title modalbanner-title">banner</h3>-->
      </div>
      <div class="modal-body modalbanner-body" style="flex-direction: column;display: flex">
        <div style="font-size: 24px; line-height: 32px">
          We're delivering Vancouver's best food to your office teams for free. All summer long.
        </div>
        <div><hr style="height:4px;width:110px;float:left;margin-top:25px;background-color:#5951ff;"></div>
        <div style="font-size: 24px; font-family: GothamLight;margin-top: 22px;line-height: 32px">Save $20 on delivery from 1 or 2 restaurants until August 30, 2020. No promo code at checkout required.</div>
      </div>
    </div>
  </div>
</div>
