<div class="modal" tabindex="-1" role="dialog" id="loaderModal" data-backdrop="static">
  <div class="modal-dialog modaldishminimum" role="document" style="height: 90vh;display: flex">
    <div class="modal-content " style="align-items: center; border: none;justify-content: center;background-color: #00000000">
      <div class="zest-spinner">
        <%= image_tag '001logo.png', :width => '100px', :height => '100px' %>
      </div>
    </div>
  </div>
</div>