<div class="modal" tabindex="-1" role="dialog" id="resetPassConfirmModal" data-backdrop="static">
  <div class="modal-dialog modallogin" role="document" >
    <div class="modal-content modallogin-content">
      <button type="button" class="modal-close close" data-dismiss="modal" aria-label="Close" style="top: -103px;right: -93px;"><span aria-hidden="true">&times;</span></button>
<!--      <button type="button" class="modal-back close" id="resetPassBack" aria-label="Close" style="top: 32px;left: 56px;font-size: 60px">←</button>-->
      <div class="modal-header modallogin-header">
        <h2 class="modal-title modallogin-title">Check your inbox</h2>
      </div>
      <div class="modal-body modaldishminimum-body" style="flex-direction: column;display: flex;max-height:120px">
        <div>
          We emailed <span id="resetPassEmail"></span> with instructions to reset your password.
        </div>
<!--        <div><hr style="height:4px;width:110px;float:left;margin-top:25px;background-color:#90D7FF;"></div>-->
<!--        <div style="font-size: 24px; font-family: GothamLight;margin-top: 22px;line-height: 32px">To celebrate our launch, we're offering $0 delivery on every order from now until March 1.</div>-->
      </div>
      <div class="modal-footer modallogin-footer">
        <div class="btn-group-justified btn-group-vertical modallogin-button_group">
          <button type="submit" id="resetBack" class="btn btn-primary modallogin-button_signup noselect" data-persist="date">Back to log in</button>
        </div>
      </div>
      <div id="hiddenField" data-restaurant-id="" data-dish-id="" style="visibility: hidden"></div>
    </div>
  </div>
</div>