<div class="modal" tabindex="-1" role="dialog" id="resetPasswordModal" data-backdrop="static">
  <div class="modal-dialog modallogin" role="document" >
    <div class="modal-content modallogin-content">
      <button type="button" class="modal-close close" data-dismiss="modal" aria-label="Close" style="top: -103px;right: -93px;"><span aria-hidden="true">&times;</span></button>
<!--      <button type="button" class="modal-back close" id="resetPassBack" aria-label="Close" style="top: 32px;left: 56px;font-size: 60px">â†</button>-->
      <div class="modal-header modallogin-header">
        <h5 class="modal-title modallogin-title">Reset Your Password</h5>
      </div>
      <div class="modal-body modallogin-body">
        <form class="needs-validation form-inline loginform" novalidate>
          <div class="form-group row" style="width:100%;margin-left:0;margin-bottom: 50px">
            <div class="col-md-3 modal-label"><label style="justify-content: end" for="inputEmail">Email</label></div>
            <div class="col-md-9"><input type="text" class="modallogin-form-field form-control" id="resetInputPassword" placeholder=" " required></div>
            <div class="invalid-feedback invalid-user">
              Cannot be blank.
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer modallogin-footer">
        <div class="btn-group-justified btn-group-vertical modallogin-button_group">
          <button type="submit" id="resetSubmit" class="btn btn-primary modallogin-button_signup noselect" data-persist="date">Reset my password</button>
        </div>
      </div>
      <div id="hiddenField" data-restaurant-id="" data-dish-id="" style="visibility: hidden"></div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">

</script>