<div class="modal" tabindex="-1" role="dialog" id="tooManyRestos" data-backdrop="static">
  <div class="modal-dialog modaldishminimum" role="document" >
    <div class="modal-content modaldishminimum-content">
      <button type="button" class="modal-close close" id="tooManyClose" aria-label="Close" style="top: 0px;right: 64px;"><span aria-hidden="true">&times;</span></button>
      <div class="modal-header modaldishminimum-header">
        <div class="modal-title modaldishminimum-title">Oops!</div>
      </div>
      <div class="modal-body modaldishminimum-body">
        <form class="needs-validation modaldishminimum-form" id="dishnone-form" novalidate>
          <div class="modal-section">
            <div class="modaldishminimum-subtitle">
              <span>
                You have already added dishes from two restaurants. If you'd like to add dishes from this restaurant, you have to remove <em>all</em> the dishes from one of the restaurants you've selected.
              </span>
            </div>
          </div>
        </form>
      </div>
      <div class="btn-group-justified btn-group-vertical modaldishminimum-button_group">
        <%= link_to :back do %>
          <button type="submit" id="toomanyconSubmit" class="btn btn-outline-primary modalcard-button-signup" data-persist="date">Contact Support</button>
        <% end %>
        <%= link_to :back do %>
          <button type="submit" id="toomanySubmit" class="btn btn-primary modalcard-button-signup" data-persist="date">Got It</button>
        <% end %>
      </div>
      <div id="hiddenField" data-restaurant-id="" data-dish-id="" style="visibility: hidden"></div>
    </div>
  </div>
</div>