.dashboardpage-body{
  background-color: white;
  max-height: 1444px;
}

.dashboardpage-body-container {
	background-color: white;
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  min-height: 200px;
  //margin-bottom: 80px;
}

.cateringdashboard {
  font-family: "GothamMedium";
  // height: 1600px;
}
