


.inline-list-mobile {
	list-style: none;
}

.mobile-menu-trigger {
	border-left: none !important;
	box-shadow: none !important;
}
.mobile-menu {
	list-style: none;
  text-align: center;
}

.mobile-menu-link {
	padding: 2.5rem 2.5rem 0;
}
