#address{
  //position: absolute;
  //z-index: 3;
  //top: 263px;
  //width: 1018px;
  border: 0 solid #979797;	
  border-radius: 10px;	
  background-color: #FFFFFF;	
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
  //margin: 0 60px 0 60px !important;
}
#dropdown-row{
  //margin: 0 !important;
  //margin-top: 27px !important;
  margin-top: 62px !important;
}
#autocomplete{
  margin-top: 3px;
}
.navbar{
  padding: 0rem 1rem !important;
  &-brand {
    padding-left: 20px !important;
  }
  &-w2p {
    filter: brightness(50%) sepia(100%) saturate(10000%) hue-rotate(255deg);
  }
}
.jumbotron-main {
  padding: 100px !important;
}
.dishcard-adjust {
  margin-left: -10px;
}