<div class="jumbotron jumbotron-fluid jumbotron-main" id="background-photo">
  <%= render "layouts/jumbotron_address" %>
  <%= render "layouts/nav_dropdown" %>
  <a href="#" id="banner_event">
    <div class="jumbotron-banner" style="">
      <span class="jumbotron-banner-title"><span class="jumbotron-banner-icon">🎉</span> $0 delivery launch event</span>
      <span class="jumbotron-banner-link">LEARN MORE <span class="zest-fwd-arrow" style="top:0px">→</span></span>
    </div>
  </a>
</div>
<div class="test" style="position: absolute;height: 84px;width: 100%;/*! top: -83px; */margin-top: -83px;/*! background-color: white; */border-bottom: 83px solid white;border-right: 112vw solid transparent;">
  <%# image_tag "banner_accent_v1.svg", :class => "jumbotron-accent", :style => "width:100%;height:320px" %>
</div>